[Unit]
Description=Tailscale Container for Glance

[Container]
Pod=glance.pod
Image=ghcr.io/tailscale/tailscale:latest
AutoUpdate=registry
ContainerName=ts-glance
HostName=glance
DNS=100.100.100.100
DNS=1.1.1.1
Secret=ts-authkey,type=env,target=TS_AUTHKEY
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
Environment=TS_SERVE_CONFIG=/config/serve-config.json
Volume=ts-glance-state.volume:/var/lib/tailscale:Z
Volume=./glance-serve-config.json:/config/serve-config.json:Z,ro
AddDevice=/dev/net/tun:/dev/net/tun
AddCapability=NET_ADMIN
