[Unit]
Description=Tailscale Container for Dumbassets

[Container]
Pod=dumbassets.pod
Image=ghcr.io/tailscale/tailscale:latest
AutoUpdate=registry
ContainerName=ts-dumbassets
HostName=dumbassets
Secret=ts-authkey,type=env,target=TS_AUTHKEY
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
Environment=TS_SERVE_CONFIG=/config/serve-config.json
Volume=ts-dumbassets-state.volume:/var/lib/tailscale:Z
Volume=./dumbassets.json:/config/serve-config.json:Z,ro
AddDevice=/dev/net/tun:/dev/net/tun
AddCapability=NET_ADMIN
