[Unit]
Description=Stalwart Container

[Container]
Pod=stalwart.pod
Image=docker.io/stalwartlabs/stalwart:latest
AutoUpdate=registry
ContainerName=stalwart
Volume=stalwart-data.volume:/opt/stalwart:Z
