[Unit]
Description=Run container volumes backup daily

[Timer]
Unit=backup-container-volumes.service
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
