[Unit]
Description=Cloudflared Container

[Container]
Pod=pocket-id.pod
Image=docker.io/cloudflare/cloudflared:latest
AutoUpdate=registry
ContainerName=cloudflared
Secret=cf-tunnel-token,type=env,target=TUNNEL_TOKEN
Exec=tunnel run
