[Unit]
Description=Webfinger Container

[Container]
Pod=pocket-id.pod
Image=docker.io/nginx:latest
AutoUpdate=registry
ContainerName=webfinger
Volume=./webfinger:/usr/share/nginx/html/.well-known/webfinger:Z,ro
