[Unit]
Description=Immich Machine Learning Container

[Container]
Pod=immich.pod
Image=ghcr.io/immich-app/immich-machine-learning:release
AutoUpdate=registry
ContainerName=immich_machine_learning
Volume=immich-model-cache:/cache:Z
