[Unit]
Description=Traefik Container
Requires=proxy.service
After=proxy.service

[Container]
Pod=traefik.pod
Image=docker.io/traefik:v3
AutoUpdate=registry
Network=proxy.network
Secret=cf-dns-api-token,type=env,target=CF_DNS_API_TOKEN
Volume=./traefik.yml:/etc/traefik/traefik.yml:Z,ro
Volume=traefik-certs.volume:/letsencrypt:Z
Volume=/etc/localtime:/etc/localtime:ro
Volume=/var/run/docker.sock:/var/run/docker.sock:ro
PublishPort=80:80
PublishPort=443:443
Label=traefik.enable=false
