[Unit]
Description=Gitea Container
Requires=ts-gitea.service
After=ts-gitea.service

[Container]
Pod=gitea.pod
Image=docker.gitea.com/gitea:latest
AutoUpdate=registry
Network=ts-gitea.container
Volume=gitea-data.volume:/data:Z
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro
