[Unit]
Description=Bitwarden Container
Requires=ts-bitwarden.service
After=ts-bitwarden.service

[Container]
Pod=bitwarden.pod
Image=ghcr.io/bitwarden/self-host:beta
AutoUpdate=registry
ContainerName=bitwarden
Network=ts-bitwarden.container
Environment=BW_DB_PROVIDER=sqlite
Environment=TEST=testenv
EnvironmentFile=.env
Volume=bitwarden-data.volume:/etc/bitwarden:Z
