[Unit]
Description=Bitwarden Container
Requires=ts-bitwarden.service
After=ts-bitwarden.service

[Container]
Pod=bitwarden.pod
Image=ghcr.io/bitwarden/self-host:beta
AutoUpdate=registry
ContainerName=bitwarden
Network=ts-bitwarden.container
Environment=BW_DB_PROVIDER=sqlite
Secret=bw-domain,type=env,target=BW_DOMAIN
Secret=bw-installation-id,type=env,target=BW_INSTALLATION_ID
Secret=bw-installation-key,type=env,target=BW_INSTALLATION_KEY
Secret=bw-admins,type=env,target=adminSettings__admins
Volume=bitwarden-data.volume:/etc/bitwarden:Z
